@model SHASApplication.Models.user

<div class="user-tile">
    <h4 class="ID">ID = @Model.ID</h4>
    <p class="Name">NAME = @Model.Name</p>
    <p class="Password">PASSWORD = @Model.Password</p>
    <p class="SQ">SECURITY QUESTION = @Model.SecurityQuestion</p>
    <p class="SA">SECURITY ANSWER = @Model.SecurityAnswer</p>
    <p class="TimeStamp">@Model.TimeStamp</p><br />
</div>