<p>Hello, @ViewBag.UserName</p>

<p>The device : @ViewBag.DeviceName</p>
<p>Has been turned on for more then @ViewBag.DeviceThreshold Minutes</p>
<p>@ViewBag.DeviceName was turned on @ViewBag.TimeStamp</p>
<p>It has been running for @ViewBag.tSDays Days : @ViewBag.tSHours Hours : @ViewBag.tSMinutes Mins : @ViewBag.tSSeconds Secs</p>
<p>Please turn this off as early as possible</p>