Hello, @ViewBag.emergenName

<h2>The User : @ViewBag.UserName is facing a crisis right now</h2>
<p>Their device : @ViewBag.DeviceName</p>
<p>Has been turned on for more then @ViewBag.DeviceThreshold Minutes</p>
<p>@ViewBag.DeviceName was turned on @ViewBag.TimeStamp</p>
<p>It has been running for @ViewBag.tSDays Days : @ViewBag.tSHours Hours : @ViewBag.tSMinutes Mins : @ViewBag.tSSeconds Secs</p>
<p>Please assist them in their endeavour and ensure their safety</p>
<h2>They reside at : 800 W Campbell Road, Richardson TX - 75080</h2>