@model SHASApplication.Models.device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>device</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeviceStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeviceStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeviceThreshold)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeviceThreshold)
    </div>

    <div class="display-label">
         <label>Created On</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStamp)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
